$btn-color: blueviolet;
$btn2-color: blue;
$btn3-color: crimson;



@mixin bro-momento {
    text-transform: capitalize;

}
.body{
    background-image: url(https://d1vhcvzji58n1j.cloudfront.net/assets/wallpapers/chainlink-b120dd4b0b.png)
}
.h1{
 
}